body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #413a45;
  margin: 0;
}
#top {
  width: 100%;
  position: fixed;
}

#navBar {
  background-color: black;
  width: auto;
  height: 90px;
  display: flex;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
}
.navBarLeft {
  display: flex;
  width: 40%;
  height: 100%;
  margin: auto;
  justify-content: left;
}
.navBarRight {
  display: flex;
  width: 60%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
  margin-left: 250px;
  font-size: 24px;
}
/* .icon {
  margin: auto;
  margin-left: 8px;
}
.icon > .icon1,
.icon2,
.icon3 {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
} */
#iconSize {
  width: 20px;
  height: 20px;
}
.zoomLogo {
  width: 649px;
  height: 40px;

  margin: 16px;
}
#logoSize {
  margin-left: 55px;
  width: 200px;
  height: 60px;
}
.host {
  width: 180px;
  height: 24px;
  font: 18px;
  color: white;
  margin: 24px;
}

.zms {
  width: 38.25px;
  height: 24px;
  font: 18px;
  color: white;
  margin: 24px;
}

.register {
  display: flex;
  width: 114.64px;
  height: 24px;
}
.login {
  font: 18px;
  color: white;
  margin: 20px 0px 0px 0px;
  text-decoration: none;
}
.login > a {
  text-decoration: none;
  color: white;
}
.signup {
  font: 18px;
  color: white;
  margin: 20px 0px 0px 0px;
}
.signup > a {
  text-decoration: none;
  color: white;
}

#booking {
  width: 100%;
  height: 700px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-image: url("https://www.zoomcar.com/img/bg-desktop.png");
}
.makeTrip {
  width: 33%;
  height: 100%;
}
#primaryButton {
  width: 408px;
  height: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #e0e0e0;
}
#form {
  margin-top: 150px;
  display: grid;
  margin: auto;
  gap: 10px;
}
#dropDown {
  margin-top: 350px;
  width: 28%;
  height: 20px;
  border: none;
  font-size: 18px;
}
.placeholder1 {
  width: 400px;
  height: 50px;
  text-align: center;
  margin: 0;

  /* padding: 10px; */
}
/* #greenDot{
    width: 10px;
    height: 10px;
    background:green;
    border-radius: 50%
  
}
#redDot{
  width: 10px;
  height: 10px;
  background:red;
  border-radius: 50%

} */
/* .gg{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 30px;
  
  
  

}
.gg :first-child{
  margin: auto;
   width: 60%;
  height: 50px;
  
}
.gg :last-child
{
  margin: auto;
  width: 60%;
  height: 50px;
} */

#mix {
  display: grid;
}
/* #mix :nth-child(2){
   border-top: 0;
 }
 #mix :nth-child(1){
   border-bottom: 0;
 } */

#promo {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: auto;
  grid-template-areas:
    "a b"
    "c d"
    "e f";

  gap: 50px;

  width: 80%;
  margin: auto;
  justify-content: center;
}

img {
  width: 100%;
  height: 238px;
}
.box1 {
  grid-area: a;
}
.box2 {
  grid-area: b;
}
.box3 {
  grid-area: c;
}
.box4 {
  grid-area: d;
}
.box5 {
  grid-area: e;
}
.box6 {
  grid-area: f;
}
.box7 > img {
  width: 1000px;
  height: 476px;
}
.empty {
  width: 33%;
  height: 75%;
}
.refer {
  display: flex;
  width: 80%;
  height: 250px;
  margin: auto;
  gap: 20px;
  margin-top: 200px;
  margin-bottom: 200px;
}
.refer > .leftRefer,
.rightRefer {
  display: flex;
  width: 50%;
  height: 100%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .rightRefer > {
  width: 50%;
  height: 100%;
  margin: left;
  justify-content: center;
} */
.preferImg1 {
  width: 50%;
  height: 100%;
}
.referText1 {
  text-align: left;
  width: 50%;
  height: 100%;
  padding: 20px 20px 20px 20px;
}
.offerImg {
  display: flex;
  width: 80%;
  height: 100%;
  gap: 10px;
  margin-top: 200px;
  margin: auto;
}
.preferImg > div {
  width: 20%;
  height: 100%;
  justify-content: center;
  margin: auto;
}
.offer4 {
  width: 10%;
}
/* .anchorAboutUs {
  width: 80%;
  height: 45px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.anchorAboutUs {
  width: 80%;
  height: 60px;
  justify-content: center;
  margin: auto;
} */
.text {
  width: 80%;
  margin: auto;
  height: 583px;
  color: #1f1f1f;

  /* margin-top: 50px; */
  justify-content: center;
  padding-top: 150px;
}
.text > b {
  text-align: left;
  font-size: 14px;
  color: #1f1f1f;
}
.text > p {
  text-align: left;
  font-size: 12px;
  color: #1f1f1f;
  justify-self: auto;
}
.copyRight {
  width: 100%;
  background: #f5f5f5;
}
.copyRight > h3 {
  text-align: center;
  font-size: 12px;
  margin: auto;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
}

#nav-content li a:hover {
  color: #bf7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

#nav-container:focus-within #nav-content {
  transform: none;
}
ul {
  padding: 0;
  list-style: none;
}
